<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>PomoBoost</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis&family=Karla&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="upper">
            <h1>PomoBoost</h1>
        </div>

        <div class="home">
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>